<div class="card-model-wrapper">
      <div class="container-about">
      <h1>Fusca Preto</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolorem assumenda laboriosam eligendi distinctio magnam aspernatur maiores eveniet libero vero, esse itaque commodi necessitatibus, rerum quasi dolores nesciunt adipisci saepe.</p>
    </div>
    <div class="atributos-wrapper">
      <ul>
        <li>Atributo 1</li>
        <li>Atributo 2</li>
        <li>Atributo 3</li>
        <li>Atributo 4</li>
        <li>Atributo 5</li>
        <li>Atributo 6</li>
      </ul>
    </div>
    <div class="container-slider"></div>
    <div class="local">
      <h2>Você está a 2km de mim...</h2>
    <form action="" class="contact">
      <ul>
        <li><a>WhatsApp</a></li>
        <li>Only Fans</li>

      </ul>
    </form>
</div>
